<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/login" text="Back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="false">
  <ion-grid fixed class="ion-no-padding">
    <ion-row class="full-height ion-align-items-center">
      <ion-col size="12">
        <div class="auth-container">
          <div class="auth-form">
            <h1 class="welcome-text">Reset Password</h1>
            <p class="forgot-description">Enter your email address and we'll send you a link to reset your password.</p>

            <ion-item class="form-field">
              <ion-input
                label="Email"
                label-placement="stacked"
                type="email"
                [(ngModel)]="forgotForm.email"
                placeholder="Enter your email address"
              ></ion-input>
            </ion-item>

            <ion-button
              expand="block"
              size="large"
              class="reset-button"
              (click)="onForgotPassword()"
            >
              Send Reset Link
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
