<h1 class="welcome-text">Create Account</h1>

          <ion-item class="form-field">
            <ion-input
              label="Email"
              label-placement="stacked"
              type="email"
              [(ngModel)]="signupForm.email"
              placeholder="Enter your email"
            ></ion-input>
          </ion-item>

          <ion-item class="form-field">
            <ion-input
              label="Mobile Number"
              label-placement="stacked"
              type="tel"
              [(ngModel)]="signupForm.mobile"
              placeholder="Enter your mobile number"
            ></ion-input>
          </ion-item>

          <ion-item class="form-field">
            <ion-input
              label="Password"
              label-placement="stacked"
              [type]="isPasswordVisible ? 'text' : 'password'"
              [(ngModel)]="signupForm.password"
              placeholder="Create a password"
            ></ion-input>
            <ion-button
              fill="clear"
              slot="end"
              (click)="togglePasswordVisibility()"
              class="password-toggle-btn"
            >
              <ion-icon
                [name]="isPasswordVisible ? 'eye-off' : 'eye'"
                color="medium"
              ></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item class="form-field">
            <ion-input
              label="Confirm Password"
              label-placement="stacked"
              [type]="isConfirmPasswordVisible ? 'text' : 'password'"
              [(ngModel)]="signupForm.confirmPassword"
              placeholder="Confirm your password"
            ></ion-input>
            <ion-button
              fill="clear"
              slot="end"
              (click)="toggleConfirmPasswordVisibility()"
              class="password-toggle-btn"
            >
              <ion-icon
                [name]="isConfirmPasswordVisible ? 'eye-off' : 'eye'"
                color="medium"
              ></ion-icon>
            </ion-button>
          </ion-item>

<ion-button
  expand="block"
  size="large"
  class="signup-button"
  [disabled]="isLoading()"
  (click)="onSignup()"
>
  @if (isLoading()) {
    <ion-spinner name="crescent" slot="start"></ion-spinner>
    Creating account...
  } @else {
    Sign Up
  }
</ion-button>

<ion-button
  expand="block"
  fill="outline"
  class="become-expert-button"
  (click)="navigateToProviderApplication()">
  Become an After5 Expert
</ion-button>
